body {
    font-family: "roboto";
    font-style: normal;
    font-weight: 400;
    --background-section: #2F303A;
    --color: #2196F3;
    --text-color: #212121;
}

.logo-link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.93em;
    letter-spacing: 0.03em;
    color: var(--color);
    text-decoration: none;
}

.logo-link::after {
    content: "Studio";
    color: var(--text-color);
}

.unstyled-list {
    list-style: none;
}

.navigation-list a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    color: var(--text-color);

}

.card-list {
    width: 370px;
    height: 404px;
    background: #FFFFFF;
}

.card-title {

    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
    color: var(--text-color);
}

.card-description {

    font-size: 16px;
    line-height: 1.87em;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer,
.hero-section {
    background: var(--background-section);
}

.button-list:hover,
.link:hover,
.footer-link:hover {
    color: var(--color);
}

.button {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62em;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    color: var(--text-color);
    cursor: pointer;
    border: none;
}

.button:hover {
    color: #FFFFFF;
    background-color: var(--color);
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

.header-navigation {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

#footer-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}